body {
  font-family: monospace;
  font-size: 1.15em;
}

.wrapper { padding: 50px 20% 150px 20%; }

@media only screen and (max-width: 600px) {
  .wrapper { padding: 50px 10% 150px 10%; }
}

#profile { width: 200px; }
